[flake8]
max-line-length = 120
ignore = E722, E731, E741, W504, E203, W503
exclude =
    build/,
    dist/,
    .cache/,
    .tox/,
    benchmarks/,
    examples/,
    library/,
    library-asm/,
    src/parsetab/,
    src/ply/,
    scratch/,
    venv/,
    .git/
