# Created by .ignore support plugin (hsz.mobi)
*.egg-info/
*.pyc
.cache/
.pytest_cache/
.idea/
.python-version
.tox/
/parsetab/parser.out
/parsetab/zxbasmlextab.py
/parsetab/zxbasmtab.py
/parsetab/zxblextab.py
/parsetab/zxbpptab.py
/parsetab/zxbtab.py
MANIFEST
dist/
examples/*.bin
examples/*.tzx
scratch/
.coverage
htmlcov/
