# Created by .ignore support plugin (hsz.mobi)
*.egg-info/
*.pyc
.cache/
.pytest_cache/
.mypy_cache/
.pytype/
.idea/
.python-version
.tox/
MANIFEST
dist/
examples/*.bin
examples/*.tzx
scratch/
.coverage
htmlcov/
build/
venv/
.pypi-token
.coverage.*

# zx81sd test build artifacts (compila.bat + split_sd81.py output)
/compila.bat
/TESTSD81*.P
/TESTSD81*.BIN
