# Created by .ignore support plugin (hsz.mobi)
parsetab.py
parser.out
zxbasmtab.py
zxbpptab.py
.idea
zxbtab.py
*.pyc
*.egg-info/
.tox/
examples/*.tzx
examples/*.bin
scratch/
.cache/*
dist/
build/
.python-version
