/* Import Sinclair Logo font */
/*@font-face {*/
/*  font-family: 'Sinclair Logo';*/
/*  src: url('../fonts/sinclair-logo.otf.woff2') format('woff2');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/

/* Apply Sinclair Logo font to the main header */
.md-header {
  background-color: #333333; /* Dark gray background color */
}

.md-header__title {
  font-family: 'Press Start 2P', cursive;
  color: #af0d0d;
}

/* Ensure the site name maintains its size */
.md-header__title .md-header__ellipsis {
  font-size: 1.2rem;
}

.md-header__inner {
  background-image: url('../img/zxbasic_logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
}

/*!* Make the logo size 100% of the header *!*/
.md-header__button.md-logo {
  color: #ff000000;
}
